<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <klevu>
            <indexing>
                <log_level>200</log_level> <!-- Logger::INFO -->
                <exclude_record_types_from_sync/>
                <attribute_cron_frequency>*/10 * * * *</attribute_cron_frequency>
                <attribute_cron_expr>*/10 * * * *</attribute_cron_expr>
                <process_require_update_entities_cron_frequency>*/15 * * * *</process_require_update_entities_cron_frequency>
                <process_require_update_entities_cron_expr>*/15 * * * *</process_require_update_entities_cron_expr>
                <entity_cron_frequency>*/30 * * * *</entity_cron_frequency>
                <entity_cron_expr>*/30 * * * *</entity_cron_expr>
                <remove_indexing_history_after_days>7</remove_indexing_history_after_days>
            </indexing>
        </klevu>
        <klevu_indexing>
            <developer>
                <log_level_indexing>200</log_level_indexing>
            </developer>
        </klevu_indexing>
    </default>
</config>
