<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Klevu\IndexingApi\Api\Data\IndexingAttributeInterface"
                type="\Klevu\Indexing\Model\IndexingAttribute"/>

    <preference for="Klevu\IndexingApi\Api\IndexingAttributeRepositoryInterface"
                type="\Klevu\Indexing\Model\IndexingAttributeRepository"/>

    <preference for="Klevu\IndexingApi\Api\Data\IndexingEntityInterface"
                type="\Klevu\Indexing\Model\IndexingEntity"/>

    <preference for="Klevu\IndexingApi\Api\Data\IndexerResultInterface"
                type="Klevu\Indexing\Model\IndexerResult"/>

    <preference for="Klevu\IndexingApi\Api\Data\SyncHistoryEntityConsolidationRecordInterface"
                type="Klevu\Indexing\Model\SyncHistoryEntityConsolidationRecord"/>

    <preference for="Klevu\IndexingApi\Api\SyncHistoryEntityConsolidationRepositoryInterface"
                type="Klevu\Indexing\Model\SyncHistoryEntityConsolidationRepository"/>

    <preference for="Klevu\IndexingApi\Api\Data\SyncHistoryEntityRecordInterface"
                type="Klevu\Indexing\Model\SyncHistoryEntityRecord"/>

    <preference for="Klevu\IndexingApi\Api\Data\SyncResultInterface"
                type="Klevu\Indexing\Model\SyncResult"/>

    <preference for="Klevu\IndexingApi\Api\IndexingEntityRepositoryInterface"
                type="\Klevu\Indexing\Model\IndexingEntityRepository"/>

    <preference for="Klevu\IndexingApi\Api\SyncHistoryEntityRepositoryInterface"
                type="\Klevu\Indexing\Model\SyncHistoryEntityRepository"/>

    <preference for="Klevu\IndexingApi\Model\EntityIndexingDeleteRecordInterface"
                type="Klevu\Indexing\Model\EntityIndexingDeleteRecord"/>

    <preference for="Klevu\IndexingApi\Model\MagentoAttributeInterface"
                type="Klevu\Indexing\Model\MagentoAttribute"/>

    <preference for="Klevu\IndexingApi\Model\MagentoEntityInterface"
                type="Klevu\Indexing\Model\MagentoEntity"/>

    <preference for="Klevu\IndexingApi\Model\Update\AttributeInterface"
                type="Klevu\Indexing\Model\Update\Attribute"/>

    <preference for="Klevu\IndexingApi\Model\Update\EntityInterface"
                type="Klevu\Indexing\Model\Update\Entity"/>

    <preference for="Klevu\IndexingApi\Service\Action\AddIndexingAttributesActionInterface"
                type="Klevu\Indexing\Service\Action\AddIndexingAttributesAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\AddIndexingEntitiesActionInterface"
                type="Klevu\Indexing\Service\Action\AddIndexingEntitiesAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\Cache\CacheAttributesActionInterface"
                type="Klevu\Indexing\Service\Action\Cache\CacheAttributesAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\Cache\ClearAttributesCacheActionInterface"
                type="Klevu\Indexing\Service\Action\Cache\ClearAttributesCacheAction"/>

    <preference for="Klevu\IndexingApi\Api\ConvertEavAttributeToIndexingAttributeActionInterface"
                type="Klevu\Indexing\Service\Action\ConvertEavAttributeToIndexingAttributeAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingAttributesToBeIndexableActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingAttributesToBeIndexableAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingAttributesToNotBeIndexableActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingAttributesToNotBeIndexableAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingAttributesToDeleteActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingAttributesToDeleteAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingAttributesToUpdateActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingAttributesToUpdateAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingEntitiesToBeIndexableActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingEntitiesToBeIndexableAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingEntitiesToNotBeIndexableActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingEntitiesToNotBeIndexableAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingEntitiesToDeleteActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingEntitiesToDeleteAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\SetIndexingEntitiesToUpdateActionInterface"
                type="Klevu\Indexing\Service\Action\SetIndexingEntitiesToUpdateAction"/>

    <preference for="Klevu\IndexingApi\Service\Action\UpdateIndexingEntitiesActionsActionInterface"
                type="Klevu\Indexing\Service\Action\UpdateIndexingEntitiesActionsAction"/>

    <preference for="Klevu\IndexingApi\Service\AttributeConflictHandlerServiceInterface"
                type="Klevu\Indexing\Service\AttributeConflictHandlerService"/>

    <preference for="Klevu\IndexingApi\Service\AttributeDiscoveryOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\AttributeDiscoveryOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\AttributesMissingHandlerServiceInterface"
                type="Klevu\Indexing\Service\AttributesMissingHandlerService"/>

    <preference for="Klevu\IndexingApi\Service\AttributeSyncOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\AttributeSyncOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\AttributeUpdateOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\AttributeUpdateOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\Provider\Cache\AttributesCacheKeyProviderInterface"
                type="Klevu\Indexing\Service\Provider\Cache\AttributesCacheKeyProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\Cache\CachedAttributesProviderInterface"
                type="Klevu\Indexing\Service\Provider\Cache\CachedAttributesProvider"/>

    <preference for="Klevu\IndexingApi\Service\CleanConsolidatedSyncHistoryServiceInterface"
                type="Klevu\Indexing\Service\CleanConsolidatedSyncHistoryService"/>

    <preference for="Klevu\IndexingApi\Service\ConsolidateSyncHistoryServiceInterface"
                type="Klevu\Indexing\Service\ConsolidateSyncHistoryService"/>

    <preference for="Klevu\IndexingApi\Service\EntityDiscoveryOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\EntityDiscoveryOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\EntityIndexingDeleteRecordCreatorServiceInterface"
                type="Klevu\Indexing\Service\EntityIndexingDeleteRecordCreatorService"/>

    <preference for="Klevu\IndexingApi\Service\EntitySyncOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\EntitySyncOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\EntityUpdateOrchestratorServiceInterface"
                type="Klevu\Indexing\Service\EntityUpdateOrchestratorService"/>

    <preference for="Klevu\IndexingApi\Service\FilterAttributesToAddServiceInterface"
                type="Klevu\Indexing\Service\FilterAttributesToAddService"/>

    <preference for="Klevu\IndexingApi\Service\FilterAttributesToDeleteServiceInterface"
                type="Klevu\Indexing\Service\FilterAttributesToDeleteService"/>

    <preference for="Klevu\IndexingApi\Service\FilterAttributesToSetToIndexableServiceInterface"
                type="Klevu\Indexing\Service\FilterAttributesToSetToIndexableService"/>

    <preference for="Klevu\IndexingApi\Service\FilterAttributesToSetToNotIndexableServiceInterface"
                type="Klevu\Indexing\Service\FilterAttributesToSetToNotIndexableService"/>

    <preference for="Klevu\IndexingApi\Service\FilterAttributesToUpdateServiceInterface"
                type="Klevu\Indexing\Service\FilterAttributesToUpdateService"/>

    <preference for="Klevu\IndexingApi\Service\FilterEntitiesToAddServiceInterface"
                type="Klevu\Indexing\Service\FilterEntitiesToAddService"/>

    <preference for="Klevu\IndexingApi\Service\FilterEntitiesToDeleteServiceInterface"
                type="Klevu\Indexing\Service\FilterEntitiesToDeleteService"/>

    <preference for="Klevu\IndexingApi\Service\FilterEntitiesToSetToIndexableServiceInterface"
                type="Klevu\Indexing\Service\FilterEntitiesToSetToIndexableService"/>

    <preference for="Klevu\IndexingApi\Service\FilterEntitiesToSetToNotIndexableServiceInterface"
                type="Klevu\Indexing\Service\FilterEntitiesToSetToNotIndexableService"/>

    <preference for="Klevu\IndexingApi\Service\FilterEntitiesToUpdateServiceInterface"
                type="Klevu\Indexing\Service\FilterEntitiesToUpdateService"/>

    <preference for="Klevu\IndexingApi\Service\Provider\AccountCredentialsProviderInterface"
                type="Klevu\Indexing\Service\Provider\AccountCredentialsProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\AttributeSyncProviderInterface"
                type="Klevu\Indexing\Service\Provider\AttributeSyncProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\ConflictingAttributeNamesProviderInterface"
                type="Klevu\Indexing\Service\Provider\ConflictingAttributeNamesProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\DuplicateAttributeMappingProviderInterface"
                type="Klevu\Indexing\Service\Provider\DuplicateAttributeMappingProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\IndexingAttributeProviderInterface"
                type="Klevu\Indexing\Service\Provider\IndexingAttributeProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\IndexingEntityProviderInterface"
                type="Klevu\Indexing\Service\Provider\IndexingEntityProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\MagentoToKlevuAttributeMapperProviderInterface"
                type="Klevu\Indexing\Service\Provider\MagentoToKlevuAttributeMapperProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\PipelineConfigurationOverridesHandlerProviderInterface"
                type="Klevu\Indexing\Service\Provider\PipelineConfigurationOverridesHandlerProvider" />

    <preference for="Klevu\IndexingApi\Service\Provider\PipelineConfigurationProviderInterface"
                type="Klevu\Indexing\Service\Provider\PipelineConfigurationProvider" />

    <preference for="Klevu\IndexingApi\Service\Provider\Sdk\AttributesProviderInterface"
                type="Klevu\Indexing\Service\Provider\Sdk\AttributesProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\StandardAttributesProviderInterface"
                type="Klevu\Indexing\Service\Provider\StandardAttributesProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\SyncHistoryEntityByDateProviderInterface"
                type="Klevu\Indexing\Service\Provider\SyncHistoryEntityByDateProvider"/>

    <preference for="Klevu\IndexingApi\Service\Provider\SyncHistoryEntityConsolidatedByDateProviderInterface"
                type="Klevu\Indexing\Service\Provider\SyncHistoryEntityConsolidatedByDateProvider"/>

    <type name="Klevu\Indexing\Model\IndexingAttributeRepository">
        <arguments>
            <argument name="indexingAttributeValidator"
                      xsi:type="object">Klevu\Indexing\Validator\IndexingAttributeValidator</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Model\IndexingEntityRepository">
        <arguments>
            <argument name="indexingEntityValidator"
                      xsi:type="object">Klevu\Indexing\Validator\IndexingEntityValidator</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Model\SyncHistoryEntityRepository">
        <arguments>
            <argument name="syncHistoryRecordValidator"
                      xsi:type="object">Klevu\Indexing\Validator\SyncHistoryRecordValidator</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Model\SyncHistoryEntityConsolidationRepository">
        <arguments>
            <argument name="syncHistoryConsolidationRecordValidator"
                      xsi:type="object">Klevu\Indexing\Validator\SyncHistoryConsolidationRecordValidator</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\AttributeDiscoveryOrchestratorService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\EntityDiscoveryOrchestratorService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Provider\LogFileNameProvider"
                 type="Klevu\Logger\Service\Provider\LogFileNameProvider">
        <arguments>
            <argument name="baseFileName" xsi:type="string">indexing.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Service\IsLoggingEnabledService"
                 type="Klevu\Logger\Service\IsLoggingEnabledService">
        <arguments>
            <argument name="minLogLevelConfigPath"
                      xsi:type="string">klevu_indexing/developer/log_level_indexing</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Logger\Handler\LogIfConfigured"
                 type="Klevu\Logger\Handler\LogIfConfigured">
        <arguments>
            <argument name="logFileNameProvider"
                      xsi:type="object">Klevu\Indexing\Service\Provider\LogFileNameProvider</argument>
            <argument name="loggingEnabledService"
                      xsi:type="object">Klevu\Indexing\Service\IsLoggingEnabledService</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Logger\Logger"
                 type="Klevu\Logger\Logger\Logger"> <!-- Virtual type defined in module-m2-logger/etc/di.xml -->
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="klevu_indexing_logger"
                      xsi:type="object">Klevu\Indexing\Logger\Handler\LogIfConfigured</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\Determiner\IsIndexableDeterminer">
        <arguments>
            <argument name="isLoggingEnabledService"
                      xsi:type="object">Klevu\Indexing\Service\IsLoggingEnabledService</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Determiner\IsAttributeIndexableDeterminer">
        <arguments>
            <argument name="isLoggingEnabledService"
                      xsi:type="object">Klevu\Indexing\Service\IsLoggingEnabledService</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\AddIndexingAttributesAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\AddIndexingEntitiesAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\GenerateConfigurationOverridesContentAction">
        <arguments>
            <argument name="pipelineConfigurationBuilder"
                      xsi:type="object">Klevu\PlatformPipelines\Pipeline\ConfigurationBuilder\WithoutDefaults</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingAttributesToBeIndexableAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingAttributesToNotBeIndexableAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingAttributesToDeleteAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingAttributesToUpdateAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingEntitiesToBeIndexableAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingEntitiesToNotBeIndexableAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingEntitiesToDeleteAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\SetIndexingEntitiesToUpdateAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Indexing\AttributesService"
                 type="Klevu\PhpSDK\Service\Indexing\AttributesService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
            <argument name="baseUrlsProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\BaseUrlsProvider</argument>
            <argument name="userAgentProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\UserAgentProvider</argument>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
            <argument name="requestFactory" xsi:type="object">GuzzleHttp\Psr7\HttpFactory</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\Action\Sdk\Attribute\AddAction">
        <arguments>
            <argument name="attributesService"
                      xsi:type="object">Klevu\Indexing\Service\Indexing\AttributesService</argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\Sdk\Attribute\DeleteAction">
        <arguments>
            <argument name="attributesService"
                      xsi:type="object">Klevu\Indexing\Service\Indexing\AttributesService</argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\Sdk\Attribute\UpdateAction">
        <arguments>
            <argument name="attributesService"
                      xsi:type="object">Klevu\Indexing\Service\Indexing\AttributesService</argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\Sdk\AttributesProvider">
        <arguments>
            <argument name="attributesService"
                      xsi:type="object">Klevu\Indexing\Service\Indexing\AttributesService</argument>
        </arguments>
    </type>

    <!-- Pipelines -->
    <type name="Klevu\PlatformPipelines\ObjectManager\Container">
        <arguments>
            <argument name="preferences" xsi:type="array">
                <item name="Klevu\PhpSDK\Api\BatchServiceInterface"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\BatchService</item>
                <item name="Klevu\PhpSDK\Service\Indexing\BatchService"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\BatchService</item>
                <item name="Klevu\PhpSDK\Api\BatchDeleteServiceInterface"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\Batch\DeleteService</item>
                <item name="Klevu\PhpSDK\Service\Indexing\Batch\DeleteService"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\Batch\DeleteService</item>
                <item name="Klevu\PhpSDK\Service\Indexing\AttributesService"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\AttributesService</item>
                <item name="Klevu\PhpSDK\Api\Service\Indexing\AttributesServiceInterface"
                      xsi:type="string">Klevu\Indexing\Service\Indexing\AttributesService</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Pipeline\Indexing\Stage\Log">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Provider\GeneratedConfigurationOverridesFilepathProvider"
                 type="Klevu\PlatformPipelines\Service\Provider\GeneratedConfigurationOverridesFilepathProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Service\ConfigurationOverridesHandler"
                 type="Klevu\PlatformPipelines\Service\ConfigurationOverridesHandler">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\EntityIndexerService">
        <arguments>
            <argument name="pipelineContextProviders" xsi:type="array">
                <item name="auth"
                      xsi:type="object">Klevu\PlatformPipelines\Service\Provider\PipelineContext\AuthProvider</item>
                <item name="store"
                      xsi:type="object">Klevu\PlatformPipelines\Service\Provider\PipelineContext\StoreProvider</item>
            </argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Indexing\BatchService"
                 type="Klevu\PhpSDK\Service\Indexing\BatchService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
            <argument name="baseUrlsProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\BaseUrlsProvider</argument>
            <argument name="userAgentProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\UserAgentProvider</argument>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
            <argument name="requestFactory" xsi:type="object">GuzzleHttp\Psr7\HttpFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Service\Indexing\Batch\DeleteService"
                 type="Klevu\PhpSDK\Service\Indexing\Batch\DeleteService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
            <argument name="baseUrlsProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\BaseUrlsProvider</argument>
            <argument name="userAgentProvider"
                      xsi:type="object">Klevu\Configuration\Service\Provider\Sdk\UserAgentProvider</argument>
            <argument name="requestFactory" xsi:type="object">GuzzleHttp\Psr7\HttpFactory</argument>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\PlatformPipelines\ObjectManager\PipelineFqcnProvider">
        <arguments>
            <argument name="namespaces" xsi:type="array">
                <item name="\Klevu\Indexing\Pipeline\"
                      xsi:type="const">Klevu\Pipelines\ObjectManager\ObjectManagerInterface::PRIORITY_NAMESPACE_SORT_ORDER</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\PlatformPipelines\ObjectManager\TransformerManager">
        <arguments>
            <argument name="namespaces" xsi:type="array">
                <item name="\Klevu\Indexing\Transformer"
                      xsi:type="const">Klevu\Pipelines\ObjectManager\ObjectManagerInterface::PRIORITY_NAMESPACE_SORT_ORDER</item>
            </argument>
        </arguments>
    </type>

    <!-- Cron -->
    <type name="Klevu\Indexing\Cron\DiscoverAttributes">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Cron\DiscoverEntities">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Cron\SyncAttributes">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Cron\SyncEntities">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- Console -->
    <type name="Klevu\Indexing\Console\Command\ConfigurationDumpPipelineCommand">
        <arguments>
            <argument name="pipelineConfigurationProvider"
                      xsi:type="object">Klevu\Indexing\Service\Provider\PipelineConfigurationProvider\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\ConfigurationOverridesRegenerateCommand">
        <arguments>
            <argument name="pipelineConfigurationOverridesHandlerProvider"
                      xsi:type="object">Klevu\Indexing\Service\Provider\PipelineConfigurationOverridesHandlerProvider\Proxy</argument>
            <argument name="scopeConfig"
                      xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\DiscoverAttributesCommand">
        <arguments>
            <argument name="discoveryOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\AttributeDiscoveryOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\DiscoverEntitiesCommand">
        <arguments>
            <argument name="discoveryOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\EntityDiscoveryOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\SyncAttributesCommand">
        <arguments>
            <argument name="syncOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\AttributeSyncOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\SyncEntitiesCommand">
        <arguments>
            <argument name="syncOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\EntitySyncOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\UpdateAttributesCommand">
        <arguments>
            <argument name="discoveryOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\AttributeDiscoveryOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Klevu\Indexing\Console\Command\UpdateEntitiesCommand">
        <arguments>
            <argument name="discoveryOrchestratorService"
                      xsi:type="object">Klevu\Indexing\Service\EntityDiscoveryOrchestratorService\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="klevu_indexing_discover_attributes"
                      xsi:type="object">Klevu\Indexing\Console\Command\DiscoverAttributesCommand\Proxy</item>
                <item name="klevu_indexing_discover_entities"
                      xsi:type="object">Klevu\Indexing\Console\Command\DiscoverEntitiesCommand\Proxy</item>
                <item name="klevu_indexing_dump_pipeline_configuration"
                      xsi:type="object">Klevu\Indexing\Console\Command\ConfigurationDumpPipelineCommand\Proxy</item>
                <item name="klevu_indexing_regenerate_configuration_overrides"
                      xsi:type="object">Klevu\Indexing\Console\Command\ConfigurationOverridesRegenerateCommand\Proxy</item>
                <item name="klevu_indexing_sync_attributes"
                      xsi:type="object">Klevu\Indexing\Console\Command\SyncAttributesCommand\Proxy</item>
                <item name="klevu_indexing_sync_entities"
                      xsi:type="object">Klevu\Indexing\Console\Command\SyncEntitiesCommand\Proxy</item>
                <item name="klevu_indexing_update_attributes"
                      xsi:type="object">Klevu\Indexing\Console\Command\UpdateAttributesCommand\Proxy</item>
                <item name="klevu_indexing_update_entities"
                      xsi:type="object">Klevu\Indexing\Console\Command\UpdateEntitiesCommand\Proxy</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Configuration\Service\Provider\Sdk\UserAgent\PlatformUserAgentProvider">
        <arguments>
            <argument name="systemInformationProviders" xsi:type="array">
                <item name="klevu-m2-indexing" xsi:type="object">Klevu\Indexing\Service\Provider\Sdk\UserAgent\SystemInformation\IndexingProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Pipeline\Indexing\Stage\HandleBatchResponse">
        <arguments>
            <argument name="batchResponderServices" xsi:type="array">
                <item name="updateActionService"
                      xsi:type="object">Klevu\Indexing\Service\UpdateIndexingEntitiesActionsService</item>
                <item name="RecordHistory"
                      xsi:type="object">Klevu\Indexing\Service\RecordIndexingEntityHistoryService</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Provider\SyncHistoryEntityLessThenDateProvider"
                 type="Klevu\Indexing\Service\Provider\SyncHistoryEntityByDateProvider">
        <arguments>
            <argument name="dateComparator"
                      xsi:type="const">Klevu\Indexing\Service\Provider\SyncHistoryEntityByDateProvider::LESS_THAN</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\ConsolidateSyncHistoryService">
        <arguments>
            <argument name="syncHistoryProvider"
                      xsi:type="object">Klevu\Indexing\Service\Provider\SyncHistoryEntityLessThenDateProvider</argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Provider\SyncHistoryEntityConsolidatedLessThenDateProvider"
                 type="Klevu\Indexing\Service\Provider\SyncHistoryEntityConsolidatedByDateProvider">
        <arguments>
            <argument name="dateComparator"
                      xsi:type="const">Klevu\Indexing\Service\Provider\SyncHistoryEntityConsolidatedByDateProvider::LESS_THAN</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\CleanConsolidatedSyncHistoryService">
        <arguments>
            <argument name="syncHistoryEntityConsolidationByDateProvider"
                      xsi:type="object">Klevu\Indexing\Service\Provider\SyncHistoryEntityConsolidatedLessThenDateProvider</argument>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Cron\SyncHistoryConsolidation">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Cron\SyncHistoryConsolidationClean">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\EntitySyncOrchestratorService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\RecordIndexingEntityHistoryService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Stdlib\DateTime\DateTimeFormatter"
                 type="Magento\Framework\Stdlib\DateTime\DateTimeFormatter">
        <arguments>
            <argument name="useIntlFormatObject" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Ui\Component\Listing\EntitySyncHistoryConsolidationDataProvider">
        <arguments>
            <argument name="dateTimeFormatter"
                      xsi:type="object">Klevu\Indexing\Stdlib\DateTime\DateTimeFormatter</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\Cron\CreateCronScheduleAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Action\Cron\CreateCronScheduleForEntityDiscoveryAction"
                 type="Klevu\Indexing\Service\Action\Cron\CreateCronScheduleAction">
        <arguments>
            <argument name="jobCode"
                      xsi:type="const">\Klevu\Indexing\Constants::CRON_JOB_CODE_INDEXING_ENTITY_DISCOVERY</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Observer\DiscoverEntitiesAfterIntegrationObserver">
        <arguments>
            <argument name="createCronScheduleAction"
                      xsi:type="object">Klevu\Indexing\Service\Action\Cron\CreateCronScheduleForEntityDiscoveryAction</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Observer\DiscoverEntitiesAfterIntegrationRemovalObserver">
        <arguments>
            <argument name="createCronScheduleAction"
                      xsi:type="object">Klevu\Indexing\Service\Action\Cron\CreateCronScheduleForEntityDiscoveryAction</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\ConsolidateSyncCronConfigSettingsAction">
        <arguments>
            <argument name="cronFrequencySource"
                      xsi:type="object">Klevu\Indexing\Model\Source\Options\CronFrequency</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Action\ConsolidateAttributeSyncCronConfigSettingsAction"
        type="Klevu\Indexing\Service\Action\ConsolidateSyncCronConfigSettingsAction">
        <arguments>
            <argument name="xmlPathFrequency"
                      xsi:type="const">Klevu\Indexing\Constants::XML_PATH_ATTRIBUTE_CRON_FREQUENCY</argument>
            <argument name="xmlPathExpr"
                      xsi:type="const">Klevu\Indexing\Constants::XML_PATH_ATTRIBUTE_CRON_EXPR</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Observer\Admin\System\Config\UpdateAttributeSyncCronObserver">
        <arguments>
            <argument name="consolidateCronConfigSettingsAction"
                      xsi:type="object">Klevu\Indexing\Service\Action\ConsolidateAttributeSyncCronConfigSettingsAction</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Indexing\Service\Action\ConsolidateEntitySyncCronConfigSettingsAction"
                 type="Klevu\Indexing\Service\Action\ConsolidateSyncCronConfigSettingsAction">
        <arguments>
            <argument name="xmlPathFrequency"
                      xsi:type="const">Klevu\Indexing\Constants::XML_PATH_ENTITY_CRON_FREQUENCY</argument>
            <argument name="xmlPathExpr"
                      xsi:type="const">Klevu\Indexing\Constants::XML_PATH_ENTITY_CRON_EXPR</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Observer\Admin\System\Config\UpdateEntitySyncCronObserver">
        <arguments>
            <argument name="consolidateCronConfigSettingsAction"
                      xsi:type="object">Klevu\Indexing\Service\Action\ConsolidateEntitySyncCronConfigSettingsAction</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\AttributeConflictHandlerService">
        <arguments>
            <argument name="serializer" xsi:type="object">\Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\Sync\EntityIndexingRecordProvider">
        <arguments>
            <argument name="batchSize" xsi:type="number">2500</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\Sync\AttributeIndexingRecordProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterAttributesToAddService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterAttributesToDeleteService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterAttributesToSetToIndexableService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

     <type name="Klevu\Indexing\Service\Provider\DuplicateAttributeMappingProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\Cache\CacheAttributesAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Action\Cache\ClearAttributesCacheAction">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\StandardAttributesProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

</config>
