<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Klevu\Indexing\Block\Adminhtml\Config\Information\IndexingEntities"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_indexing_entitles</argument>
            <argument name="template"
                      xsi:type="string">Klevu_Indexing::system/config/information/indexing_entities.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\Indexing\ViewModel\Config\Information\IndexingEntities</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Block\Adminhtml\Config\Information\IndexingAttributes"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_indexing_attributes</argument>
            <argument name="template"
                      xsi:type="string">Klevu_Indexing::system/config/information/indexing_attributes.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\Indexing\ViewModel\Config\Information\IndexingAttributes</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Block\Adminhtml\Config\Information\KlevuAttributes"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_attributes</argument>
            <argument name="template"
                      xsi:type="string">Klevu_Indexing::system/config/information/klevu_attributes.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\Indexing\ViewModel\Config\Information\KlevuAttributes</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Configuration\ViewModel\Config\Information\KnowledgeBase"
                 type="Klevu\Configuration\ViewModel\Config\Information\ArticleList">
        <arguments>
            <argument name="articles" xsi:type="array">
                <item name="documentation" xsi:type="array">
                    <item name="indexing" xsi:type="array">
                        <item name="link" xsi:type="string"><![CDATA[https://docs.klevu.com/klevu-magento-v4/indexing-overview]]></item>
                        <item name="order" xsi:type="number">200</item>
                        <item name="title" xsi:type="string">Indexing</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Indexing\Block\Adminhtml\Config\Integration\Info"
                 type="Klevu\Configuration\Block\Adminhtml\Backend\Template">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="name" xsi:type="string">klevu_indexing_integration_info_block</item>
                <item name="template" xsi:type="string">Klevu_Indexing::config/integration/info.phtml</item>
                <item name="escaper_view_model" xsi:type="object">Klevu\Indexing\ViewModel\Escaper</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Configuration\ViewModel\Config\Information\ModuleVersions">
        <arguments>
            <argument name="composerPackageIdentifiers" xsi:type="array">
                <item name="klevu_php_pipelines" xsi:type="string"><![CDATA[klevu/php-pipelines]]></item>
                <item name="klevu_php_sdk" xsi:type="string"><![CDATA[klevu/php-sdk]]></item>
                <item name="klevu_php_sdk_pipelines" xsi:type="string"><![CDATA[klevu/php-sdk-pipelines]]></item>
            </argument>
        </arguments>
    </type>

</config>
